.block {
    position: absolute;
    margin-top: 50px;
    height: 150px;
}

h1 {
    text-align: center
}

#container {
    text-align: center;
}

.bomb {
    position: absolute;
    left: 1410px;
    margin: 5px;
    margin-top: 50px;
    height: 150px;
    width: 205px;
    transform: rotate(90deg);
  }

.monkey {
    height: 150px;
    margin-left: 40px;
    margin-top: 51px;
}

#socket {
    position: absolute;
    margin-left: -800px;
    
    margin-top: 50px;
    height: 150px;
    
    bottom: 272px;
}