.block {
    position: absolute;
    margin-top: 50px;
    height: 150px;
}

h1 {
    text-align: center
}

#container {
    margin-top: 190px;
    text-align: center;
}

.bomb {
    position: absolute;
    left: 1200px;
    margin: 5px;
    margin-top: 50px;
    height: 150px;
  }

.monkey {
    position: absolute;
    margin: 5px;
    margin-top: 50px;
    height: 150px;
    bottom: 300px;
    margin-left: 300px
}

#socket {
    position: absolute;
    margin-left: -800px;
    
    margin-top: 50px;
    height: 150px;
    
    bottom: 272px;
}